﻿.login-wrap {
    width: 90%;
    background-color: white;
    padding: 6%;
}

@media screen and (min-width: 450px) {
    .login-wrap {
        width: 400px;
        padding: 27px;
    }
}

.btn-login {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}

.btn-login:hover {
    background-color: rgb(40, 188, 255);
    color: white;
    font-weight: bold;
}

.btn-close {
    background-color: rgb(255, 255, 255);
    color: gray;
    font-weight: bold;
}

.btn-close:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}