﻿
.recipe {
    background-color: white;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    color: rgb(25, 25, 25);
    font-family: 'Tahoma';
    /*padding: 5px 10px;*/
}

.recipe-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 40%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    opacity: 0.10;
    z-index: -1;
}

.recipe-info {
    /*padding: 5px 15px;*/
}

.recipe-info .recipe-title {
    font-size: 150%;
    font-weight: bold;
}

.recipe-tags {
    padding-bottom: 10px;
}

.tag {
    display: inline-block;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    margin: 5px;
    border: 1px solid rgb(20, 99, 177);
    border-radius: 3px;
    padding: 0 5px;
}

.ingredient-tag {
    display: inline-block;
    background-color: dodgerblue;
    color: white;
    text-align: center;
    margin: 5px;
    border: 1px solid rgb(20, 99, 177);
    border-radius: 3px;
    padding: 0 5px;
}

.ingredient-tag:hover {
    background-color: red;
    cursor: pointer;
    border: none;
}

.recipe-wrap {
    margin-top: 20px
}

.recipe-title {
    font-weight: bold;
    font-size: 2.3em;
    line-height: 1em;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.recipe-description {
    font-size: 1em;
}

.search-box {
    text-align: center;
}

.ingredients-box {
    height: auto;
    display: inline-block;
    padding: 15px 0;
}

.ingredients-box .dimension-lock {
    height: 36px;
    max-width: 70px;
}