﻿html, body, .page-wrap {
    height: 100%;
}

body {
    background-color: cadetblue;
}

.page-wrap {
    padding-bottom: 30px;
    background-color: rgba(255,255,255, 0.85);
    height: auto !important;
    min-height: 100%;
    margin: 0px auto;
    overflow: hidden;
}

.center-vert {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

a, a:hover, a:focus {
    text-decoration: none;
}

.navbar-brand {
    font-size: 150%;
}

.divider {
    border-top: 1px solid rgb(200, 200, 200);
    margin: 5px 0;
}

/*copypasta from Materialize CSS. added :hover characteristics*/
.z-depth-0 {
  box-shadow: none !important;
}

.z-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3 {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-4 {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-5 {
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/*hoverz*/
.z-depth-0.hover {
    transition: box-shadow .25s; 
}

.z-depth-1.hover{
    transition: box-shadow .25s;
}

.z-depth-2.hover{
    transition: box-shadow .25s; 
}

.z-depth-3.hover{
    transition: box-shadow .25s; 
}

.z-depth-4.hover{
    transition: box-shadow .25s; 
}

.z-depth-5.hover {
    transition: box-shadow .25s; 
}

.z-depth-0.hover:hover {
    transition: box-shadow .25s; 
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.z-depth-1.hover:hover {
    transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-2.hover:hover {
    transition: box-shadow .25s; 
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.z-depth-3.hover:hover {
    transition: box-shadow .25s; 
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.z-depth-4.hover:hover {
    transition: box-shadow .25s; 
  box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.z-depth-5.hover:hover {
    transition: box-shadow .25s; 
  box-shadow: 0 37px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.banner {
    color: rgb(100,100,100);
    text-align: center;
    font-size: 5rem;
    padding-top: 40px;
    padding-bottom: 40px;
}

.subbanner {
    color: rgb(100,100,100);
    text-align: center;
    font-size: 2rem;
    padding-bottom: 40px;
}

.about-app {

}

.about-app .title {
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold; 
}

.right {
    float: right;
}

.left {
    float: left;
}