﻿<div class="row">
    <div class="col-xs-12">
        <div class="banner">
            The Hopster Application
        </div>
        <br />
        <div class="subbanner">
            Brewed for [Company]
        </div>
        <div class="about-app">
            <p class="title">
                A note from Adam:
            </p>
            <p>
                Hello [Company]! This is the application you've asked me to create as part of the interview process. Unfortunately, I only had two days (most of a weekend), so it's a little rought around the edges. I had fun doing it and I hope you enjoy it as well. Thanks!
            </p>
            <p class="title">
                Links:
            </p>
            <p>
                <ul>
                    <li><a target="_blank" href="https://bitbucket.org/adamstevencotner/hopster/src">Code/README</a></li>
                    <li><a target="_blank" href="https://drive.google.com/file/d/0B7H6iROl3b-pU3c1LWx5Y0hYVFE/view?usp=sharing">Resume</a></li>
                </ul>
            </p>
            <p class="title">
                Top-Down Technologies:
            </p>
            <p>
                <ul>
                    <li>Bootstrap</li>
                    <li>Angular</li>
                    <li>C#/Web API</li>
                    <li>C#/Entity Framework</li>
                    <li>SQL Server</li>
                    <li>Azure (hosting)</li>
                </ul>
            </p>
            <p class="title">
                Instructions I recieved:
            </p>
            <p>
                For this exercise, assume that you will be working with another developer.  One of you will be focusing on the front-end, the other one will be doing the server side.  You get to pick which side of the app you will be working on, but be ready to explain what you would expect your teammate to implement. 
            </p>
            <p>
                Create a simple single page application that allows users to design beer recipes. The user requires the following features:
                <ul>
                    <li>Ability to Search Ingredients (e.g. hops, grain, extract)</li>
                    <li>Ability to Save a Recipe</li>
                    <li>Ability to search for a recipe</li>
                </ul>
            </p>
            <p>
                The maintainability and testability of your code will be considered, and remember that UX and UI count too!
            </p>
            <p>
                While this is purely a demonstration exercise (i.e. we do not intend to use your code in any way), your solution should be well organized and runnable. Delivering a github repo with the solution is good enough for us. You will be presenting this to the technical interview team, so make sure that you are prepared to provide us with a lot of detail on the technical decisions you made (and document/highlight those for us).  Also, be sure that you can demo your application, discuss decisions you made, what you learned, what you might do differently, and identify anything you would do given more time.
            </p>
            <p>
                For extra credit points - implement your teammate’s code for an end-to-end functional prototype.
            </p>
        </div>
    </div>
</div>
