﻿<div class="row">
    <div class="col-xs-12 search-box">
        <p>Welcome to Hopster! Its Napster for beer, I guess. Click on any of the recipes you see below to get instructions and user info, or search with the bar below to narrow your options down. Cheers!</p>
        <p>Start typing in the box below to search by name:</p>
        <input type="text" ng-keyup="searchByName($event)" />
    </div>
</div>
<div class="row">
    <a ng-repeat="recipe in recipes" href="#/recipe/{{ recipe.id }}">
        <div class="col-lg-4 col-sm-6 col-xs-12 container recipe-wrap">
            <div class="col-xs-12 recipe z-depth-1 hover" bind-to-height>
                <div class="row">
                    <div class="col-xs-12 recipe-title">
                        {{ recipe.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 recipe-description">
                        {{ recipe.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 divider"><em>Ingredients:</em></div>
                </div>
                <div class="row" >
                    <div class="col-xs-12 recipe-tags">
                        <div ng-repeat="recipeInfo in recipe.recipeInfoList" class="tag">{{ recipeInfo.ingredient.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="recipe-img center" style="background-image: url({{project.img}});" v-center-to=".recipe"></div>-->
    </a>
</div>