﻿<div class="overlay">
    <div class="center-block center-vert login-wrap">
        <form name="login" class="css-form" novalidate>
            <p ng-show="loginError.exists" class="error">{{loginError.text}}</p>
            <label for="username">
                Email:<br />
            </label>
                <input type="email" class="form-control" ng-model="username" name="username" required="" /><br />
            <label for="password">
                Password:<br />
            </label>
                <input type="password" class="form-control" ng-model="password" name="password" required="" /><br />
            <input type="submit" class="btn btn-login" ng-disabled="login.username.$error.email || !login.username.$viewValue || !login.password.$viewValue" name="login" ng-click="submit_login()" value="Log In" />
            <input type="submit" class="btn btn-login" ng-disabled="login.username.$error.email || !login.username.$viewValue || !login.password.$viewValue" name="register" ng-click="submit_register()" value="Register" />
            <input type="submit" class="btn btn-close" name="close" ng-click="close()" value="Close" />
        </form>
    </div>
</div>