﻿<div class="row">
    <div class="col-xs-12">
        <p class="subbanner">Welcome {{username}}!</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-6" ng-show="!newrecipe">
        <p>Create a new recipe or browse your collection.</p>
    </div>
    <div class="col-xs-6" ng-show="!newrecipe">
        <input type="submit" class="btn btn-login right" ng-click="toggle_recipe()" value="New recipe" />
    </div>
    <div class="col-xs-12" ng-show="newrecipe">
        <form name="recipeForm" novalidate>
            <label for="recipeName">
                Name the recipe:<br />
            </label>
            <input type="text" class="form-control" ng-model="recipeName" name="recipeName" required="" /><br />
            <label for="recipeDescription">
                Description:<br />
            </label>
            <textarea class="form-control" ng-model="recipeDescription" name="recipeDescription" required="" /><br />
            <label for="recipeIngredients">
                Ingredients (click to remove):<br />
            </label>
            <div class="form-control ingredients-box" ng-model="recipeInstructions" name="recipeInstructions" required="" >
                <div class="col-xs-12 col-md-4">
                    <select type="text" ng-model="selectedIngredientIndex" style="min-width: 120px;" class="dimension-lock">
                        <option ng-repeat="ingredient in availableIngredients" ng-value="$index">{{ingredient.name}}</option>
                        <!-- Unfotunately, the $index property doesn't play well with the custom filter. To be implemented in the future -->
                        <!--<option ng-repeat="ingredient in availableIngredients | orderIngredients" ng-value="$index">{{ingredient.name}}</option>-->
                    </select>
                    <input type="number" placeholder="amount" class="dimension-lock" ng-model="selectedIngredientAmount"/>
                    <span>{{availableIngredients[selectedIngredientIndex].unit.name}}</span>
                    <input type="button" class="btn btn-login right dimension-lock" name="add" ng-click="add_ingredient()" value="Add" ng-disabled="!selectedIngredientIndex || !selectedIngredientAmount"/>
                </div>
                <div class="col-xs-12 col-md-8 ingredient-tags">
                    <div class="ingredient-tag" ng-repeat="ingredient in recipeIngredients" ng-click="remove_ingredient(ingredient, $index)">{{ingredient.name}} | {{ingredient.amount}} {{ingredient.unit.name}}</div>
                </div>
            </div><br />
            <label for="recipeInstructions">
                Instructions:<br />
            </label>
            <textarea class="form-control" ng-model="recipeInstructions" name="recipeInstructions" required="" /><br />
            <input type="submit" class="btn btn-login" name="submit" ng-click="submit_recipe()" value="Submit" ng-disabled="!recipeForm.recipeName.$viewValue || !recipeForm.recipeDescription.$viewValue || !recipeForm.recipeInstructions.$viewValue || recipeIngredients.length == 0"/>
            <input type="submit" class="btn btn-close" name="close" ng-click="toggle_recipe()" value="Close" />
        </form>
    </div>
</div>
<div class="row divider"></div>
<div class="row">
    <a ng-repeat="recipe in recipes" href="#/recipe/{{ recipe.id }}">
        <div class="col-lg-4 col-sm-6 col-xs-12 container recipe-wrap">
            <div class="col-xs-12 recipe z-depth-1 hover" bind-to-height>
                <div class="row">
                    <div class="col-xs-12 recipe-title">
                        {{ recipe.name }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 recipe-description">
                        {{ recipe.description }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 divider"></div>
                </div>
                <div class="row" >
                    <div class="col-xs-12 recipe-tags">
                        <div ng-repeat="recipeInfo in recipe.recipeInfoList" class="tag">{{ recipeInfo.ingredient.name }}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="recipe-img center" style="background-image: url({{project.img}});" v-center-to=".recipe"></div>-->
    </a>
</div>