﻿<div class="row">
    <div class="col-xs-12 banner">
        {{recipe.name}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 subbanner">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-6">
        <p><strong>Instructions:</strong></p>
        {{recipe.instructions}}
    </div>
    <div class="col-xs-12 col-md-6">
        <p><strong>Ingredients:</strong></p>
        <ul>
            <li ng-repeat="ril in recipe.recipeInfoList">{{ril.ingredient.name}} : {{ril.amount}} {{ril.ingredient.unit.name}}</li>
        </ul>
    </div>
</div>
<div class="row divider"></div>
<div class="row">
    <div class="col-xs-12">
        Posted by {{recipe.ownerName}}
    </div>
</div>