﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="Hopster">
<head>
    <title>Hopster</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/recipes.css" />
    <link rel="stylesheet" href="/css/angular-csp.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container page-wrap">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/#/">Hopster</a>
                    <p class="navbar-text">The Napster of beer?</p>
                </div>

                <div class="collapse navbar-collapse" id="collapse">
                    <ul class="nav navbar-nav">
                        <li class ="active"><a href="/#/profile">Profile</a></li>
                        <li><a ng-href="{{logLink}}">{{logText}}</a></li>
                        <li><a href="/#/about">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ng-view></ng-view>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js"></script>

    <script type="text/javascript" src="/js/module.js"></script>
    <script type="text/javascript" src="/js/svc/authService.js"></script>
    <script type="text/javascript" src="/js/svc/dataService.js"></script>
    <script type="text/javascript" src="/js/svc/user.js"></script>
    <script type="text/javascript" src="/js/dtv/ingredientFilter.js"></script>
    <script type="text/javascript" src="/js/ctl/recipeCtl.js"></script>
    <script type="text/javascript" src="/js/ctl/homeCtl.js"></script>
    <script type="text/javascript" src="/js/ctl/profileCtl.js"></script>
    <script type="text/javascript" src="/js/ctl/loginCtl.js"></script>
    <script type="text/javascript" src="/js/ctl/logoutCtl.js"></script>
    <script type="text/javascript" src="/js/ctl/aboutCtl.js"></script>
</body>
</html>
